apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
  namespace: bankapp-ns
spec:
  storageClassName: standard
  accessModes:
    - ReadWriteOnce 
  resources:
    requests:
      storage: 10Gi
  
  # hostPath:
  #   path: /mnt/data/mysql
  #   type: DirectoryOrCreate  


